node_modules
.next
#.vscode
**/dist/**
**/build/**
**/.next/**
**/yarn-error.log
**/out
.netlify
*.code-workspace
.DS_Store

**/coverage

lerna-debug.log
**/.env
.turbo

**/*sitemap.xml
**/__generated/*.cy.js
**/cypress/videos
**/cypress/screenshots

create-app.json

daisy/preview

# .envkey will be ignored everywhere except for the root directory
**/.envkey
!/.envkey
/scripts/removeEnvFirstRun
.env.local.backup
