node_modules
.next
#.vscode
**/dist/**
**/build/**
**/.next/**
**/yarn-error.log
**/.env
**/out
.netlify
*.code-workspace

**/coverage

lerna-debug.log
.env
.turbo

**/*sitemap.xml
**/__generated/*.cy.js

create-app.json
