node_modules
.next
#.vscode
**/dist/**
**/build/**
**/.next/**
**/yarn-error.log
**/.env
**/out
.netlify
*.code-workspace
.DS_Store

**/coverage

lerna-debug.log
.env
.turbo

**/*sitemap.xml
**/__generated/*.cy.js
**/cypress/videos
**/cypress/screenshots

create-app.json

## Ignore .envkey in all directories except root directory
/*.envkey
!.envkey